@import "variables.less";
@import "mixins.less";
@import "resets.less";
@import "home.less";
@import "list.less";

.center-block {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

// Search Input
// ================
.search-bar {
  width: 548px;
  height: 50px;
  background-color: white;
  border-radius: @search-input-border-radius;
  //border: 1px solid #eee;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 2px 4px 0 rgba(0, 0, 0, .16);

  .clearfix;

  > * {
    float: left;
  }
}

.search-input {
  background-color: #fff;
  margin: 10px 1px 0 10px;
  width: ~"calc(100% - 125px)";
  border-right: 0;
  padding-right: 4px;
  border: none;
  height: 30px;
  font-size: 16px;
}

.search-button {
  width: 45px;
  height: 45px;
  text-indent: -100px;
  border: none;
  overflow: hidden;
  cursor: pointer;
  background-color: white;
  margin-top: 5px;
}

.search-drop-down {
  position: relative;
  display: inline-block;

  &-button {
    border: none;
    overflow: hidden;
    cursor: pointer;
    background-color: white;
    padding-right: 10px;
    position: relative;
    padding: 10px 20px 10px 10px;
    height: 50px;
    display: block;
    box-sizing: border-box;
    border-radius: @search-input-border-radius;

    > img {
      width: 30px;
      height: 30px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 10px solid #d6d6d6;
      top: 20px;
      margin-left: 10px;
    }
  }

  &-panel {
    position: absolute;
    list-style: none;
    margin-top: 6px;
    display: none;

    .open & {
      display: block;
    }

    > li {
      padding: 5px 20px;
      background-color: rgba(255, 255, 255, .7);
      width: 100%;
      font-size: 17px;
      height: 34px;
      line-height: 28px;
      cursor: pointer;

      &:first-child {
        border-radius: @search-input-border-radius @search-input-border-radius 0 0;
      }

      &:last-child {
        border-radius: 0 0 @search-input-border-radius @search-input-border-radius;
      }
    }
  }
}
